#!/bin/bash
#
# vim: ft=sh

# Exit on error
set -o nounset
set -o errexit

if [ $# -lt 1 ]; then
  >&2 echo "Usage: $0 <restic command>"
  exit 1
fi

PIDFILE="/tmp/restic-exec.pid"
if [ -e "$PIDFILE" ]; then
  >&2 echo 'Restic already running'
  exit 1
fi

# Backend configuration
export RESTIC_CACHE_DIR='{{ cache_dir }}'
export RESTIC_PASSWORD='{{ password }}'
export RESTIC_REPOSITORY='{{ repository }}'

{% if aws_access_key_id != None -%}
export AWS_ACCESS_KEY_ID='{{ aws_access_key_id }}'
export AWS_SECRET_ACCESS_KEY='{{ aws_secret_access_key }}'
{%- endif %}


# Touch pidfile, remove it on exit/ error
touch "$PIDFILE"
function finish {
  >&2 echo 'Removing pidfile'
  rm -rf "$PIDFILE"

  # Unset all passphrases
  {% if aws_access_key_id != None -%}
  unset AWS_ACCESS_KEY_ID
  unset AWS_SECRET_ACCESS_KEY
  {%- endif %}

  unset RESTIC_PASSWORD
  unset RESTIC_REPOSITORY
}
trap finish EXIT

# Run restic command
restic "$@"
