#!/bin/bash
#
# vim: ft=sh

# Exit on error
set -o nounset
set -o errexit

# Make sure repository is initialized (will fail if so)
if ! /usr/local/bin/restic-exec init 2> /dev/null; then
  echo "Repository already initialized."
else
  echo "Initialized new restic repository."
fi

# Remove old backups
/usr/local/bin/restic-exec forget --prune {% for time, val in keep|dictsort %}--keep-{{ time }} {{ val }} {% endfor %}

{% for cmd in exec_pre %}
{{ cmd }}
{%- endfor %}

# Backup selected directories
/usr/local/bin/restic-exec backup {% for dir in directories %}'{{ dir }}' {% endfor %}

{% if verify %}
# TODO: Do we want --read-data here?
restic check
{%- endif %}

{% for cmd in exec_post %}
{{ cmd }}
{%- endfor %}
